## Model with Standardization

In [173]:
# import pandas library
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [174]:
cars = pd.read_csv("final_cars.csv")

In [175]:
## create X and Y
y = cars['price']
X = cars.drop(columns=['price'])

In [176]:
X  = pd.get_dummies(X)

In [177]:
X.columns

Index(['length', 'width', 'curb-weight', 'engine-size', 'highway-mpg',
       'make_alfa-romero', 'make_audi', 'make_bmw', 'make_chevrolet',
       'make_dodge', 'make_honda', 'make_isuzu', 'make_jaguar', 'make_mazda',
       'make_mercedes-benz', 'make_mercury', 'make_mitsubishi', 'make_nissan',
       'make_peugot', 'make_plymouth', 'make_porsche', 'make_renault',
       'make_saab', 'make_subaru', 'make_toyota', 'make_volkswagen',
       'make_volvo', 'fuel-type_diesel', 'fuel-type_gas', 'num-of-doors_four',
       'num-of-doors_two', 'body-style_convertible', 'body-style_hardtop',
       'body-style_hatchback', 'body-style_sedan', 'body-style_wagon',
       'drive-wheels_4wd', 'drive-wheels_fwd', 'drive-wheels_rwd'],
      dtype='object')

In [178]:
features_to_scale = ['length', 'width', 'curb-weight', 'engine-size', 'highway-mpg']

In [179]:
from sklearn.model_selection import train_test_split

In [180]:
X_train, X_test, y_train, y_test = train_test_split(X,y, test_size=0.2, random_state=99)

In [181]:
from sklearn.linear_model import LinearRegression

In [182]:
X_train.head()

,length,width,curb-weight,engine-size,highway-mpg,make_alfa-romero,make_audi,make_bmw,make_chevrolet,make_dodge,...,num-of-doors_four,num-of-doors_two,body-style_convertible,body-style_hardtop,body-style_hatchback,body-style_sedan,body-style_wagon,drive-wheels_4wd,drive-wheels_fwd,drive-wheels_rwd
134,156.9,63.4,2050,97,36,0,0,0,0,0,...,0,1,0,0,1,0,0,0,1,0
145,173.6,65.4,2650,108,23,0,0,0,0,0,...,1,0,0,0,0,0,1,1,0,0
16,197.0,70.9,3505,209,20,0,0,1,0,0,...,1,0,0,0,0,1,0,0,0,1
54,169.0,65.7,2385,70,23,0,0,0,0,0,...,0,1,0,0,1,0,0,0,0,1
85,172.4,65.4,2403,110,30,0,0,0,0,0,...,1,0,0,0,0,1,0,0,1,0

In [183]:
X_train_dummies = X_train.drop(columns=features_to_scale)
X_test_dummies = X_test.drop(columns=features_to_scale)

In [184]:
X_train_dummies.head()

,make_alfa-romero,make_audi,make_bmw,make_chevrolet,make_dodge,make_honda,make_isuzu,make_jaguar,make_mazda,make_mercedes-benz,...,num-of-doors_four,num-of-doors_two,body-style_convertible,body-style_hardtop,body-style_hatchback,body-style_sedan,body-style_wagon,drive-wheels_4wd,drive-wheels_fwd,drive-wheels_rwd
134,0,0,0,0,0,0,0,0,0,0,...,0,1,0,0,1,0,0,0,1,0
145,0,0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,1,1,0,0
16,0,0,1,0,0,0,0,0,0,0,...,1,0,0,0,0,1,0,0,0,1
54,0,0,0,0,0,0,0,0,1,0,...,0,1,0,0,1,0,0,0,0,1
85,0,0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,1,0,0,1,0

In [185]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()

In [186]:
## Scale X_train and X_test
X_train_scaled = scaler.fit_transform(X_train[features_to_scale])
X_test_scaled = scaler.transform(X_test[features_to_scale])

In [187]:
X_train_scaled = pd.DataFrame(X_train,columns = features_to_scale)

In [188]:
X_test_scaled = pd.DataFrame(X_test,columns = features_to_scale)

In [189]:
X_train = pd.concat([X_train_dummies, X_train_scaled], axis=1)
X_test = pd.concat([X_test_dummies, X_test_scaled], axis=1)

In [190]:
X_train.head()

,make_alfa-romero,make_audi,make_bmw,make_chevrolet,make_dodge,make_honda,make_isuzu,make_jaguar,make_mazda,make_mercedes-benz,...,body-style_sedan,body-style_wagon,drive-wheels_4wd,drive-wheels_fwd,drive-wheels_rwd,length,width,curb-weight,engine-size,highway-mpg
134,0,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,156.9,63.4,2050,97,36
145,0,0,0,0,0,0,0,0,0,0,...,0,1,1,0,0,173.6,65.4,2650,108,23
16,0,0,1,0,0,0,0,0,0,0,...,1,0,0,0,1,197.0,70.9,3505,209,20
54,0,0,0,0,0,0,0,0,1,0,...,0,0,0,0,1,169.0,65.7,2385,70,23
85,0,0,0,0,0,0,0,0,0,0,...,1,0,0,1,0,172.4,65.4,2403,110,30

In [191]:
X_test.head()

,make_alfa-romero,make_audi,make_bmw,make_chevrolet,make_dodge,make_honda,make_isuzu,make_jaguar,make_mazda,make_mercedes-benz,...,body-style_sedan,body-style_wagon,drive-wheels_4wd,drive-wheels_fwd,drive-wheels_rwd,length,width,curb-weight,engine-size,highway-mpg
71,0,0,0,0,0,0,0,0,0,1,...,0,0,0,0,1,199.2,72.0,3715,304,16
24,0,0,0,0,1,0,0,0,0,0,...,1,0,0,1,0,157.3,63.8,1989,90,38
51,0,0,0,0,0,0,0,0,1,0,...,1,0,0,1,0,166.8,64.2,1950,91,38
174,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,183.5,67.7,2976,171,24
97,0,0,0,0,0,0,0,0,0,0,...,1,0,0,1,0,173.4,65.2,2302,120,34

In [192]:
model = LinearRegression()
model.fit(X_train,y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [193]:
y_pred = model.predict(X_test)

In [194]:
## get MSE 
mse = mean_squared_error(y_test,y_pred)
print(f"Mean Squared Error : {mse:0.2f}")

rmse = np.sqrt(mean_squared_error(y_test,y_pred))
print(f"Root Mean Squared Error : {rmse:0.2f}")

mae = mean_absolute_error(y_test,y_pred)
print(f"Mean Absolute Error : {mae:0.2f}")

r2score = r2_score(y_test,y_pred)
print(f"R2 Score: {r2score:0.2f}")

Mean Squared Error : 6304877.08
Root Mean Squared Error : 2510.95
Mean Absolute Error : 1668.38
R2 Score: 0.93